* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor: #FB2E86;
    --mainFont: "Lato", sans-serif;
    --btnFont: "Josefin Sans", sans-serif;
    --btn2Font: "Roboto",sans-serif;
    --secBtnColor: #08D15F;
    --backgroundColor: #EEEFFB;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: calc(100% - 376px);
    margin: auto;
}
@media screen and (max-width:1400px) {
    .container {
    width: calc(100% - 200px);
    
}
}
@media screen and (max-width:992px) {
    .container {
    width: calc(100% - 100px);
    
}
}
@media screen and (max-width:576px) {
    .container {
    width: calc(100% - 40px);
    
}
}


.btn {
    border: none;
    outline: none;
    font-family: var(--btnFont);
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 2px;
}

.primary_btn {
    background-color: var(--primaryColor);
}

.secondary_btn {
    background-color: var(--secBtnColor);

}

.text-white{
    color: #FFFFFF;
}

.d-flex{
    display: flex;
}

.flex-direction{
    flex-direction: column;
}

.gap-1{
    gap:5px;
}

.gap-2{
    gap:20px;
}
.gap-10{
    gap: 10px;
}
.gap-3{
    gap:46px;
}

.pt-1{
    padding-top: 50px;
}