body {
    font-family: var(--mainFont);
}


/* start header */
.header {
    padding-top: 47px;
    padding-bottom: 35px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;

}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list a:focus {
    color: var(--primaryColor);
}

.search form {
    border: 1px solid #E7E6EF;
    border-radius: 5px;

}

.search input {
    border: none;
    outline: none;
    width: 265px;
    padding: 4px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 10px 15px;


}

.search button img {
    width: 20px;
}

@media screen and (max-width:1200px) {
    .header .bar {
        display: block;
    }

    .list,
    .header .search {
        display: none;
    }

}

/* end header */

/* start footer */

.footer {
    background-color: var(--backgroundColor);
    padding: 100px 0px;
}

.footer .row {

    gap: 5px;
}

.footer .left-side {
    align-items: flex-start;
    gap: 35px;
    color: #8A8FB9;
    width: calc((100% - 5px) / 2);

}

.footer .right-side {
    width: calc((100% - 5px) / 2);
}

.footer .right-side .row {
    align-items:self-start;
    gap: 90px;
}

.footer-item {
    width: calc((100% - 180px) / 3);
}


.footer form {
    border: 1px solid var(--backgroundColor);
    display: flex;
    border-radius: 5px;
    background-color: #FFFFFF;

}

.footer form input {
    background-color: #EEEFFB;
    color: #8A8FB9;
    opacity: 0.45;
}


.footer form button {
    font-family: var(--btn2Font);

    font-size: 16px;

}

.footer a {
    color: #8A8FB9;
    font-size: 16px;
}

.address-info {
    font-size: 16px;
}

.address-info h2 {
    font-weight: lighter;
    font-size: 16px;

}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .footer {
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }

}

/* end footer */